/* Font importing */

@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@500&family=Lato:ital,wght@0,400;1,700&family=Roboto:wght@500&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');

/* Universal parameter change */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Golos Text', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    scroll-behavior: smooth;
    outline: none;
}


/* making root */

:root {
    --background-color: #1f232e;
    --hover-colors: #0ef;
    --text-origin-color: #fefefe;
    --secondary-bg-color: #323946;
    --main-text-color: #fefffe;
    --main-text-second-color: #caceca;
    --profession-color: rgb(231, 122, 122);
}


/* Utilities function */

.container {
    max-width: 1320px;
    margin-inline: auto;
    padding-inline: 15px;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.height-100vh {
    height: 100vh;
}

/* Default parameter */

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: var(--background-color);
}

a {
    color: var(--text-origin-color);
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 200%;
}

h3 {
    font-size: 250%;
}


/* Header section */

div.logo {
    color: var(--text-origin-color);
    font-size: xxx-large;
    font-family: 'Rubik Iso';
}

.header-nav-bar {
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
}


/* Header nav-bar section */

.nav-bar-items {
    display: inline-flex;
    gap: 20px;
}

.nav-bar-items a {
    font-size: 1.7rem;
}

.active {
    color: var(--hover-colors);
}

#Menu-card {
    display: None;
}


/* Heading Section */

h2.intro-name {
    font-size: 4rem;
    color: rgb(238, 238, 98);
    font-weight: 900;
}

.intro-content h3 {
    font-weight: 900;
}

.head-img-intro {
    margin-top: max(3%, 32px);
    align-items: center;
    justify-content: space-between;
}

span.profession {
    color: var(--profession-color);
}

.intro-content {
    width: 34%;
    color: var(--text-origin-color);
    line-height: 1.5;
    text-align: left;
}

p.intro-main {
    font-size: 1.6rem;
    margin-top: 9%;
}


/* Heading image section */

.main-img {
    width: 40%;
}


/* animation-name: firstanimation, movingBox, changingPosition;
animation-duration: 2s;
animation-iteration-count: infinite;
/* animation-timeline: alternate; 

animation-timing-function: ease-in;
animation-direction: alternate;
*/

.main-img img {
    width: 100%;
    animation-name: moving-up-down;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    box-shadow: -84px 87px 27px -71px rgba(24, 27, 36, 255), 80px 87px 28px -71px rgba(24, 27, 36, 255);
}


/* Heading image animation */

@keyframes moving-up-down {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-20px);
    }
}


/* Social media Icons */

.social-media {
    margin: max(3%, 40px) 0;
    display: inline-flex;
    gap: 20px;
    align-content: end;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
    background: transparent;
    border-radius: 50%;
    border: 0.2rem solid var(--hover-colors);
    color: var(--hover-colors);
    transition: 0.5s ease;
}

.btn-cls {
    /* border: 2px solid var(--main-text-color); */
    text-align: center;
    width: 40%;
    padding: max(6px, 1%);
    border-radius: 20px;
    word-spacing: 1.2rem;
    background-color: var(--hover-colors);
    box-shadow: 0 0 1rem var(--hover-colors);
    transition: 0.5s ease-in-out;
    cursor: pointer;
    z-index: -5;
}

.resume-links a {
    box-sizing: content-box;
    color: var(--secondary-bg-color);
    font-weight: 900;
    font-size: 2rem;
    padding-inline: 30px;
}


/* About Section */

.about-section {
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.about-image {
    width: 50%;
}

.about-image img {
    width: 100%;
}


/* Content info */

.about-content {
    width: 45%;
}

.about-content .heading {
    color: var(--main-text-color);
    font-size: 4.5rem;
}

h2.profession {
    margin: max(10px, 2%) 0;
    color: var(--profession-color);
    font-size: 3.5rem;
}

.about-content h3 {
    font-size: 3rem;
}

.about-content p {
    font-size: 1.3rem;
    color: var(--main-text-color);
}

span.Me {
    color: var(--hover-colors);
}

.about-read-more {
    word-spacing: 1rem;
    width: 30%;
    margin: max(30px, 3%) 0;
}

.read-more {
    font-size: 2rem;
    color: var(--background-color);
    word-spacing: normal;
    font-weight: 900;
}


/* service section */

.heading {
    text-align: center;
    font-size: 4.5rem;
    color: var(--main-text-color);
}

.heading h2 {
    color: var(--main-text-color);
}

.service {
    height: 100vh;
    margin-top: max(50px, 5%);
    background-color: var(--secondary-bg-color);
}

.service-offfer {
    gap: 20px;
    margin-top: max(50px, 2%);
    /* align-items: center; */
    justify-content: center;
}

.boxes-service {
    border: 3px solid var(--main-text-color);
    text-align: center;
    background-color: var(--background-color);
    color: var(--main-text-color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    justify-content: space-evenly;
    padding: 10px 0;
    width: 30%;
    padding-inline: 29px;
    transition: 0.4s ease;
    cursor: pointer;
}

.intro {
    font-size: 1.3rem;
}

.service-heading {
    font-size: 1.2rem;
}

/* Machine learning service */

.MachineLearning .logo img {
    width: 50%;
    filter: invert(1);
}

.service-btn {
    word-spacing: 0;
    border: none;
    font-size: 2rem;
    font-weight: 800;
}

/* Portfolio section */
.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
}

.box-project {
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
    color: var(--main-text-color);
    border: 3px solid var(--background-color);
    margin: 2% 0;
    width: 100% !important;
    position: relative;
    box-shadow: 0 0 5rem var(--background-color);
    overflow: hidden;
}

.box-project img {
    width: 100%;
    border-radius: 20px;
    cursor: pointer;



}

div.info-layer h3 {
    text-align: center;
}

div.info-layer {
    height: 100%;
    width: 100%;

    position: absolute;
    bottom: 0;
    gap: 10px;
    /* left: 0; */
    background: linear-gradient(rgba(0, 0, 0, 0.1), var(--hover-colors));
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 2rem;
    transform: translateY(100%);
    transition: 0.5s;
    padding: 0 4rem;
}

div.info-layer h3 {
    font-size: 3.5rem;
}

div.info-layer p {
    font-size: 1.5rem;
    text-align: center;
}

.info-layer2 {
    color: var(--main-text-color) !important;
}

.info-layer1 {
    color: #fefef0 !important;
}

/* Contact us */

.contact-us {
    background-color: var(--secondary-bg-color);
}

.contact-us-container {
    gap: 10px;
    justify-content: space-between;
}

.box-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    width: 200px;
    color: var(--main-text-color);
    margin: 5rem 0;
}

.contact-us-heading {
    font-size: 3rem;
}

li,
.intro-contact {
    text-decoration: none;
    list-style: none;
    font-size: 1.4rem;
    margin: 5px 0;
}

.social-media-contact {
    display: flex;
    text-align: center;
    gap: 2px;
    flex-direction: column;
    margin-top: 2rem;
}

#emailInput {
    text-align: center;
}


.achor_underline {
    text-decoration: none;
}

/* Hover links */

.nav-bar-items a:hover {
    transform-origin: left;
    transition: 0.5s ease-in-out;
    color: var(--hover-colors);
}

.logo i {
    color: var(--hover-colors);
}

/* social media hover icons */

.social-media a:hover {
    background-color: var(--hover-colors);
    color: #fefefe;
    box-shadow: 0 0 0.5rem var(--hover-colors);
}


/* CV hover */

.btn-cls:hover {
    box-shadow: none;
}

.boxes-service:hover {
    transform: scale(1.05);
    border: 3px solid var(--hover-colors);
    /* box-sizing: border-box; */
}


/* Portfolio Hover */

.box-project:hover div.info-layer {
    cursor: pointer;
    transform: translateY(0%);
    color: var(--background-color);
}