/* Font importing */

@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@500&family=Lato:ital,wght@0,400;1,700&family=Roboto:wght@500&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');

/* Universal parameter change */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Golos Text', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    scroll-behavior: smooth;
    outline: none;
}


/* making root */

:root {
    --background-color: #1f232e;
    --hover-colors: #0ef;
    --text-origin-color: #fefefe;
    --secondary-bg-color: #323946;
    --main-text-color: #fefffe;
    --main-text-second-color: #caceca;
}


/* Utilities function */

.container {
    max-width: 1320px;
    margin-inline: auto;
    padding-inline: 15px;
}

.flex {
    display: flex;
}


/* Default parameter */

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: var(--background-color);
}

a {
    color: var(--text-origin-color);
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 300%;
}

h3 {
    font-size: 250%;
}


/* Header section */

div.logo {
    color: var(--text-origin-color);
    font-size: xxx-large;
    font-family: 'Rubik Iso';
}

.header-nav-bar {
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
}


/* Header nav-bar section */

.nav-bar-items {
    display: inline-flex;
    gap: 20px;
}

.nav-bar-items a {
    font-size: 1.7rem;
}

.active {
    color: var(--hover-colors);
}

#Menu-card {
    display: None;
}


/* Heading Section */

h2.intro-name {
    font-size: 4rem;
    color: rgb(238, 238, 98);
    font-weight: 900;
}

.intro-content h3 {
    font-weight: 900;
}

.head-img-intro {
    margin-top: max(3%, 32px);
    align-items: center;
    justify-content: space-between;
}

span.profession {
    color: rgb(231, 122, 122);
}

.intro-content {
    width: 34%;
    color: var(--text-origin-color);
    line-height: 1.5;
    text-align: left;
}

p.intro-main {
    font-size: 1.6rem;
    margin-top: 9%;
}


/* Heading image section */

.main-img {
    width: 40%;
}


/* animation-name: firstanimation, movingBox, changingPosition;
animation-duration: 2s;
animation-iteration-count: infinite;
/* animation-timeline: alternate; 

animation-timing-function: ease-in;
animation-direction: alternate;
*/

.main-img img {
    width: 100%;
    animation-name: moving-up-down;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    box-shadow: -84px 87px 27px -71px rgba(24, 27, 36, 255), 80px 87px 28px -71px rgba(24, 27, 36, 255);
}


/* Heading image animation */

@keyframes moving-up-down {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-20px);
    }
}


/* Social media Icons */

.social-media {
    margin: max(3%, 40px) 0;
    display: inline-flex;
    gap: 20px;
    align-content: end;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
    background: transparent;
    border-radius: 50%;
    border: 0.2rem solid var(--hover-colors);
    color: var(--hover-colors);
    transition: 0.5s ease;
}

.resume-links {
    /* border: 2px solid var(--main-text-color); */
    text-align: center;
    width: 40%;
    padding: max(6px, 1%);
    border-radius: 20px;
    word-spacing: 1.2rem;
    background-color: var(--hover-colors);
    box-shadow: 0 0 1rem var(--hover-colors);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.resume-links a {
    color: var(--secondary-bg-color);
    font-weight: 900;
    font-size: 2rem;
}


/* Hover links */

.nav-bar-items a:hover {
    transform-origin: left;
    transition: 0.5s ease-in-out;
    color: var(--hover-colors);
}


/* social media hover icons */

.social-media a:hover {
    background-color: var(--hover-colors);
    color: #fefefe;
    box-shadow: 0 0 0.5rem var(--hover-colors);
}


/* CV hover */

.resume-links:hover {
    box-shadow: none;
}